<div class="container-fluid">
  <div class="row">
    <div class="col"></div>
    <div class="col">

      <h1 class="text-center title">J-Renshuu</h1>
      <p class="text-center">Ｊ－練習</p>
      <p class="text-center">An application for easily memorizing Japanese vocabulary.</p>

      <h4>Categories「範疇」</h4>
      <br>

      <div class="categories">      
        <button type="button" class="btn btn-primary all">みんな</button>
        <category-button [text]="c.descJapanese" [title]="c.descEnglish" *ngFor="let c of categories" (onToggled)="addCategory($event, c)"></category-button>
      </div>

      <br>
      <h4>Format「進め方」</h4>
      <br>

      <select class="form-control">
        <option>Manual Input</option>
        <option>Multiple Choice</option>
      </select>

      <br>
      <h4>J-E or E-J</h4>
      <br>

      <select class="form-control" (change)="changeDirection($event.target.value)">
        <option value="JE">Japanese to English</option>
        <option value="EJ">English to Japanese</option>
      </select>

      <button class="btn btn-success start" routerLink="/quiz" routerLinkActive="active">スタート</button>

    </div>
    <div class="col"></div>
  </div>
</div>