<div class="row">
  <div class="col"></div>
  <div class="col">

    <h1 class="text-center heading">The Quiz is finished.</h1>

    <br>

    <table class="table">
      <tr class="correct">
        <td>Correct</td>
        <td class="text-right">{{ quizService.getCorrect() }}</td>
      </tr>
      <tr class="wrong">
        <td>Wrong</td>
        <td class="text-right">{{ quizService.getWrong() }}</td>
      </tr>
      <tr class="score">
        <td>Score</td>
        <td class="text-right">{{ (quizService.getCorrect() / (quizService.getCorrect() + quizService.getWrong())) * 100 }}%  </td>
      </tr>
    </table>

    <button class="btn btn-success go-back" routerLink="/start" routerLinkActive="active">Go Back to Start Menu</button>

  </div>
  <div class="col"></div>
</div>