<div class="row">
  <div class="col"></div>
  <div class="col">

    <h3 class="question text-center" *ngIf="quizService.getDirection() == 'JE'">{{ currentWord['kana'] }}</h3>
    <h3 class="question text-center" *ngIf="quizService.getDirection() == 'EJ'">{{ currentWord['definition'] }}</h3>

    <br>
    <input type="text" class="form-control answer" (keyup.enter)="nextWord()" autofocus>

    <button class="btn btn-success next" (click)="nextWord()">次</button>

  </div>
  <div class="col"></div>
</div>