
.next {
    width: 100%;
    margin-bottom: 30px;
}

.choice {
    width: 100%;
    margin-bottom: 10px;
    font-size: 22px;
}

.question {
    margin-top: 100px;
}

.answer {
    font-size: 24px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0px;
}

.exit {
    color: red;
}

.exit:hover {
    color: red;
}