<div class="row">
  <div class="col"></div>
  <div class="col">

    <!-- <h3 class="question text-center" *ngIf="quizService.getDirection() == 'JE'">{{ currentWord['kana'] }}</h3>
    <h3 class="question text-center" *ngIf="quizService.getDirection() == 'EJ'">{{ currentWord['definition'] }}</h3> -->
    <h3 class="question text-center">{{ question }}</h3>
    <p class="text-center" *ngIf="quizService.getDirection() == 'JE' && quizService.getShowFurigana()">{{ currentWord['kana'] }}</p>

    <br>

    <div *ngIf="quizService.getFormat() == 'input'">
      <input type="text" class="form-control answer text-center" (keyup.enter)="nextWord()" [(ngModel)]="userAnswer" autofocus>
    </div>

    <div *ngIf="quizService.getFormat() == 'choice'">
      <button *ngFor="let choice of currentChoices" (click)="nextWord(choice)" class="btn choice">{{ choice }}</button>
    </div>

    <table class="table">
      <tr>
        <td class="text-left">
          Correct: {{ quizService.getCorrect() }}
        </td>
        <td class="text-right">
          Wrong: {{ quizService.getWrong() }}
        </td>
      </tr>
    </table>

    <button class="btn btn-success next" (click)="nextWord()" *ngIf="quizService.getFormat() == 'input'">隣</button>

    <p class="text-center">
      <a class="exit" routerLink="/start" routerLinkActive="active">出口</a>
    </p>

  </div>
  <div class="col"></div>
</div>